<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace 定义接口的全路径-->
<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">


    <select id="skuSaleAttrValueMapper" resultMap="spuValueIdsMap">
        select group_concat(skav.sale_attr_value_id order by spav.base_sale_attr_id asc separator '|') value_ids
             ,skav.sku_id
        from sku_sale_attr_value skav
                 join spu_sale_attr_value spav on spav.id = skav.sale_attr_value_id
        where skav.spu_id = #{spuId}
        group by skav.sku_id
    </select>

    <resultMap id="spuValueIdsMap" type="java.util.Map" autoMapping="true"></resultMap>

</mapper>